[submodule "Submodule/glm"]
	path = Submodule/glm
	url = https://github.com/g-truc/glm.git
[submodule "Submodule/SPIRV-Cross"]
	path = Submodule/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
